@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: #1f1e1e;
  --light-dark-color: #353434;
  --green-color: #00e67a;
  --white-color: #fff;
}
.main {
  font-family: "Montserrat", sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: var(--dark-color);
  padding: 2rem;
}
section {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  padding: 3rem 2rem;
  width: 55%;
  min-height: 350px;
  background-color: var(--light-dark-color);
  color: var(--white-color);
}
h1 {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 2rem;
}
h2 {
  text-align: center;
  letter-spacing: 1.5px;
  color: #5f5f5f;
  margin: auto;
}
svg {
  color: var(--green-color);
}
.AddDev {
  display: flex;
  gap: 0.6rem;
  margin: 2rem 0;
  width: 100%;
}
.AddDev input {
  flex-grow: 1;
  padding: 0.7rem 1.2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: var(--dark-color);
  font-size: 1rem;
}
.AddDev input::placeholder {
  color: #d8d5d5;
  letter-spacing: 0.5px;
}
#AddBtn {
  padding: 0.5rem 1rem;
  border: none;
  display: flex;
  border-radius: 5px;
  background-color: var(--green-color);
}
#AddBtn svg {
  margin: auto;
  color: var(--white-color);
}
ul li {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0.8rem;
  border: solid 1px #6c6c6b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: bold;
  gap: 10px;
}
input[type="checkbox"] {
  accent-color: var(--green-color);
  width: 1.5rem;
  height: 1.5rem;
}
label {
  width: 80%;
}
#inpEdit {
  width: 90%;
  font-size: 1.1rem;
  outline: none;
  padding: 0.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}
/* < =================== Breckpoints ================== > */
/* --- Xsmall && small device --- */
@media screen and (width <= 768px) {
  .main {
    padding: 0;
  }
  section {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0.8rem;
  }
}
